body {
    margin: 40px 100px 0px 150px;
    font-family: 'Work Sans', sans-serif;
    color:rgb(200, 200, 200);
    background-color: #171717;
}

h1 {
    font-weight: 400;
    font-size: 36px;
}

.label {
    font-size: 18px;
    font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
    width: 100%;
    max-width: 60%;
    min-width: 315px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    color: #f0f0f0;
}

.no-error {
    display: none;
}

.error {
    margin-top: 2px;
    color: rgb(250, 215, 215);
    font-size: 12px;
    display: block;
}

button {
    margin-top: 16px;
    width: 315px;
    background-color: #f5f5f5;
    padding: 16px 20px;
    border-radius: 4px;
    color: #171717;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}

button:disabled {
    background-color: #8e8e8e;
    border: 1px solid #171717;
}

button:hover:enabled {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.suggestion {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}