.Sidebar {
    position: fixed;
    
    top: 0;
    left: 0;

    z-index: 2;
    height: 100vh;
    width: 80px;
    border-right: 1px solid white;
}

.logo {
    width: 52px;
    margin-left: 12px;
}

.side-links {
    padding-top: 40px;
    margin-top: 80px;
    margin-left: 4px;
} 

img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;  
}

.icon {
    filter: brightness(70%);
}

.icon:hover {
    filter: brightness(300%);
} 

.active-icon {
    filter: brightness(300%);
}

.iconp {
    filter: brightness(80%);
    margin-left: 22px;
    padding-top: 200px;
}

.iconp:hover {
    filter: brightness(300%);
}

.active-iconp {
    filter: brightness(300%);
    margin-left: 22px;
    padding-top: 200px;
}

@media only screen and (max-width: 600px) {

    .Sidebar {
        padding-top: 4px;

        position: fixed;
        margin-top: 90vh;
        margin-bottom: 0px;

        display: flex;
        justify-content: space-between;
    
        /* z-index: 2; */
        width: 100%;
        height: 64px;
        border-top: 1px solid white;
        border-right: 0px;

        background-color: #141414;
    }

    .logo {
        margin: 0;
        padding: 0;
        width: 52px;
        margin-left: 8px;
        margin-top: 4px;
    }

    .side-links {
        padding: 0px;
        margin: 0px;
        margin-top: 0px;
    } 

    .iconp {
        margin-left: 0px;
        padding-top: 0px;
        margin-right: 10px;
    }

}