.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin-top: 0px;
    margin-right: 30px;
}
.amount-div {
    margin-top: -40px;
    display: flex;
    font-size: 64px;
}

.type-holder {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.type-button {
    margin-top: 10px;
    padding-top: 40px;
    color: #f0f0f0;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    text-align: center;
    height: 32px;
    width: 120px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.type-button-active-1 {
    margin-top: 10px;
    padding-top: 40px;
    color: #E12222;
    background-color: #FFD8DA;
    border: 1px solid #fff;
    filter: drop-shadow(0px 0px 4px #e75b5b);
    border-radius: 4px;
    text-align: center;
    height: 32px;
    width: 120px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.type-button-active-2 {
    margin-top: 10px;
    padding-top: 40px;
    color: #019117;
    background-color: #ddfde6;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 0px 4px #43e95c);
    border-radius: 4px;
    text-align: center;
    height: 32px;
    width: 120px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.type-text {
    margin: 0;
    margin-top: 2px;
}

/* .rs {
    margin-top: 40px ;
} */

.amount-div:focus, .amount-div:active {
    color: white;
}
#amount {
    color: rgb(185, 185, 185);
    border: none;
    font-size: 64px;
}

#amount:focus {
    color: rgb(255, 255, 255);
    outline: none;
    /* background-color: rgb(255, 251, 231); */
}

.datepicker {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    max-width: 180px;
    margin-bottom: 20px;
}

select {
    font-family: 'Work Sans', sans-serif;
    margin-top: -32px;
    width: 100%;
    max-width: 60%;
    min-width: 315px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    background: #171717;
    color: #f0f0f0;
    margin-bottom: 20px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
  }

.opt-css {
    background-color: #171717;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

