.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin-top: 20px;
    margin-right: 30px;
}
.amount-div {
    margin-top: -40px;
    display: flex;
    font-size: 64px;
}

/* .rs {
    margin-top: 40px ;
} */

.amount-div:focus, .amount-div:active {
    color: white;
}
#amount {
    color: rgb(185, 185, 185);
    border: none;
    font-size: 64px;
}

#amount:focus {
    color: rgb(255, 255, 255);
    outline: none;
    /* background-color: rgb(255, 251, 231); */
}

.datepicker {
    max-width: 180px;
}

select {
    margin-top: -32px;
    width: 100%;
    max-width: 60%;
    min-width: 315px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    color: #f0f0f0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

