.acc-h1{
    margin-bottom: 0px;
    font-size: 32px;
}

.account-cards {
    display: flex;
    flex-wrap: wrap;
}

.new-link {
    margin-top: 8px;
    display: flex;
}

.new-link:hover {
    filter: brightness(300);
}

.add-icon {
    width: 28px;
    height: auto;
}

.add-text {
    color: rgb(138, 138, 138);
    font-size: 14px;
    margin: auto;
    margin-left: 20px;
    margin-right: 0px;
}

.account-card {
    filter: brightness(70%);
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    width:380px;
    height: 200px;
    margin-right: 32px;
    margin-top: 32px;
}

.selected-card {
    filter: drop-shadow(0px 8px 10px black);
    filter: brightness(300%);
    background-color: #070707;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    width:440px;
    height: 240px;
    margin-right: 32px;
    margin-top: 32px;
}

.account-card:hover {
    filter: brightness(300%)
}

.acc-name {
    padding-top: 40px;
    margin: 4px 0px;
    font-weight: 400;
    font-size: 24px;
    padding-left: 40px;
}

.acc-num {
    padding-bottom: 28px;
    margin: 4px 0px;
    font-weight: 200;
    font-size: 16px;
    padding-left: 40px;
}

.inner-card {
    bottom: 0;
    border-top: 2px solid #d6d6d6;
    height: 3;
}

.rs-span {
    margin: 4px 0px;
    margin-top: 16px;
}

.acc-rs {
    font-weight: 200;
    margin: 4px 0px;
    font-size: 16px;
    padding-left: 40px;
}

.acc-bal {
    font-weight: 600;
    margin: 2px 0px;
    font-size: 20px;
}

.balance {
    margin: 8px 0px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 11px;
    color: rgb(109, 109, 109);
}

.edit-icon {
    position: absolute;
    top: 0;
    right: 20px;
    filter: brightness(12%);
}

.edit-icon:hover {
    filter: brightness(300%);
}

.trans-head {
    margin-top: 44px;
    font-size: 20px;
    font-weight: 500;
    color: #b0b0b0;
}

.transaction-card {
    display: grid;
    grid-template-columns: 24px 2.5fr 1fr 1fr;
    background-color: #1A1A1A;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    height: 48px;
    padding-top: -8px;
}

.transaction-card:hover .trans-edit-icon {
    visibility: visible;
}

.trans-date {
    font-size: 12px;
    font-weight: 700;
    margin-top: 28px;
    color: #b0b0b0;
}

.trans-edit-icon {
    margin-top: 10px;
    width: 20px;
    filter: brightness(25%);
    visibility: hidden;
}
.trans-edit-icon:hover {
    visibility: visible;
    filter: brightness(300%);
}

.trans-card-desc, .trans-card-amt-sub, .trans-card-amt-add, .trans-card-balance {
    font-size: 14px;
    margin-left: 24px;
    color: rgb(249, 249, 249);
    font-weight: 500;
}

.trans-card-amt-add {
    color: #B2FFBA;
}

.trans-card-amt-sub {
    color: #FFB2B6;
}

.trans-card-balance {
    margin-right: 24px;
}

.trans-icon {
    width: 44px;
}
